@import '~bulma/bulma.sass';

* {
  font-family: 'Open Sans', sans-serif;
}

$plntify: #3FC008;

//! NAVBAR 
nav.navbar.is-dark {
  background-color: #2c2f33;
  -webkit-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.m-scene{
	.scene_element {
		animation-duration: .25s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
	}
	.scene_element--fadein {
		animation-name: fadeIn;
	}
}

//! SHOWPLANT
.show-image {
  width: 600px !important;
  height: 600px !important;
}


.offers-container{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-top: 60px;
  
}

.offers {
  width: 500px;
  border: 2px solid grey;
  padding: 30px;
}


.responses {
  width: 500px;
  border: 2px solid grey;
  padding: 30px;
}

.offer-response{
  color: $danger;
}

.message {
  border: 1px solid grey;
  padding: 12px;
  width: 200px;
  text-align: center;
  margin-top: 10px;
}


//! LIKE BUTTON
.like-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $plntify;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid $plntify;
  box-sizing: border-box;
  outline: none;
}

//! DELETE COMMENT BUTTON
.comment-delete-button {
  background-color: darkred;
}

.popup-container {
  hr {
    margin: 0
  }
  h2 {
    color: $black
  }
}
.hero-body{
  background-size: cover;
  background-position: center;
}

.added-by h4 {
  margin: 24px 0
}

.chatForm{
  position: absolute;
  bottom: 50px;
  left: 15%;
}

.chatFormContainer{
  overflow: auto;
  height: 370px;
}


.button {
  display: inline-block;
  margin-right: 5px;
  font-family: 'Open Sans', sans-serif;
}

.input {
  font-family: 'Open Sans', sans-serif;
}

.chat-title{
  margin-top: 20px;
  text-align: center;
}

.chat-section{
  margin-left: 30px;
}

.chat-date{
  font-size: 12px;
  display: inline-block;
  margin-right: 50px;
  color: grey
}

.chat-header{
  display: inline-block;
  margin-left: 60px;
}

.map-styles {
  font-family: 'Open Sans', sans-serif
}

