@import '~bulma/bulma.sass';

* {
  font-family: 'Open Sans', sans-serif;
}

$plntify: #3FC008;

//! NAVBAR 
nav.navbar.is-dark {
  background-color: #2c2f33;
  -webkit-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.m-scene{
	.scene_element {
		animation-duration: .25s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
	}
	.scene_element--fadein {
		animation-name: fadeIn;
	}
}

//! REGISTER BUTTON
.register-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.register-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! LOGIN BUTTON
.login-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.login-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! FORM

//! ADD MY PLANT BUTTON
.form-add-my-plant-button{
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.form-add-my-plant-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}


//! SHOWPLANT

//! IMAGE
.show-image {
  width: 600px !important;
  height: 600px !important;
}

//! Make OFFER BUTTON
.make-offer-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.make-offer-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! SUBMIT OFFER BUTTON
.submit-offer-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.submit-offer-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! EDIT BUTTON
.show-edit-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.show-edit-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! DELETE BUTTON 
.show-delete-button {
  background-color: transparent;
  border-color: rgb(223, 0, 0);
  color: rgb(223, 0, 0);
}
.show-delete-button:hover {
  color: white;
  border-color: rgb(223, 0, 0);
  background-color: rgb(223, 0, 0);
}


.offers-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
  margin-top: 60px;
  
}

.offers {
  width: 500px;
  padding: 30px;
}


.responses {
  width: 500px;
  padding: 30px;
}

.offer-response{
  color: $danger;
}

.message {
  border: 1px solid grey;
  padding: 12px;
  width: 200px;
  text-align: center;
  margin-top: 10px;
}


//! LIKE BUTTON
.like-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $plntify;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid $plntify;
  box-sizing: border-box;
  outline: none;
}

//! COMMENTS

//! POST COMMENT BUTTON
.post-comment-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.post-comment-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! SHOW MORE/LESS BUTTON
.show-more-less-button {
  background-color: transparent;
  border-color: $plntify;
  color: $plntify;
}
.show-more-less-button:hover {
  color: white;
  border-color: $plntify;
  background-color: $plntify;
}

//! DELETE COMMENT BUTTON
.comment-delete-button {
  background-color: darkred;
}

.popup-container {
  hr {
    margin: 0
  }
  h2 {
    color: $black
  }
}
.hero-body{
  background-size: cover;
  background-position: center;
}

.added-by h4 {
  margin: 24px 0
}

.chatForm{
  position: absolute;
  bottom: 50px;
  left: 15%;
}

.chatFormContainer{
  overflow: auto;
  height: 370px;
}


.button {
  display: inline-block;
  margin-right: 5px;
  font-family: 'Open Sans', sans-serif;
}

.input {
  font-family: 'Open Sans', sans-serif;
}

.chat-title{
  margin-top: 20px;
  text-align: center;
}

.chat-section{
  margin-left: 30px;
}

.chat-date{
  font-size: 12px;
  display: inline-block;
  margin-right: 50px;
  color: grey
}

.chat-header{
  display: inline-block;
  margin-left: 60px;
}

.offer-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.offer{
  width: 100px;
  display: inline-block;
}

.arrow{
  font-size: 70px
}

.image-offer{
  display: inline;
}

.is-accept{
  background: $plntify;
  color: white;
}

.is-decline{
  background: red;
  color: white;
}

button .is-light{
  text-align: center;
}

.message{
  background: white;
  border-radius: 0px;
}

.offer-section{
  border: 1px solid grey;
  padding: 20px
}
.map-styles {
  font-family: 'Open Sans', sans-serif
}

